<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Home</title>
        <link rel='stylesheet' href='/styles/style.css' />

    </head>
    <body>
        <div
            class='min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gradient-to-r from-indigo-600 to-blue-400'
        >

            <div
                class='w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg'
            >
                <div class='flex flex-col sm:justify-center items-center'>
                    <img
                        style='width: 150px;height:150px ;'
                        src='/img/vote.png'
                        class='w-60 h-40 fill-current text-gray-500'
                    />
                </div>
                <form method='POST' action=''>
                    <div class='mt-4'>
                        <label for='prenom' class='block font-medium text-sm text-gray-700'>
                            Prenom
                        </label>
                        <input
                            required
                            id='prenom'
                            type='text'
                            name='prenom'
                            class='rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 block mt-1 w-full'
                        />
                    </div>
                    <div class='mt-4'>
                        <label for='nom' class='block font-medium text-sm text-gray-700'>
                            Nom
                        </label>
                        <input
                            required
                            id='nom'
                            type='text'
                            name='nom'
                            class='rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 block mt-1 w-full'
                        />
                    </div>

                    <div class='mt-4'>
                        <label for='birthday' class='block font-medium text-sm text-gray-700'>
                            date naissance
                        </label>
                        <input
                            required
                            id='birthday'
                            type='date'
                            name='birthday'
                            class='rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 block mt-1 w-full'
                        />
                    </div>
                    <div class='mt-4'>
                        <label for='condidat_nom' class='block font-medium text-sm text-gray-700'>
                            Condidate
                        </label>
                        <select
                            id='condidat_nom'
                            name='condidat'
                            class='block mt-1 w-full'
                            placeholder='Choisir votre condidat...'
                            required
                        >
                            <option> </option>
                            {{#each condidates}}

                                <option value='{{this._id}}'> {{this.name}} </option>

                            {{/each}}
                        </select>
                        <div class='flex items-center mt-4'>
                            <button
                                type='submit'
                                class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full'
                            >
                                Vote
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>